/* В данный блок заключаются input-поля */
.form_element_block{
    margin-bottom:8px;
}

.left{
    text-align:left;
}
.center{
    text-align:center;
}
.small{
    font-size:x-small;
}
.external{
    background:url("/http/image/desing/icon/external.png") no-repeat scroll right center transparent;
    padding-right:14px;
}
/* Строка навигации */
div.navigation_list{
    background-color:#f5f5f5;
    border:1px solid #9999CC;
    padding:5px;
    margin:0 0 15px 0;
    font-size:90%;
}
a.navigation_normal_link{
    padding:0.2em 0.4em 0.2em 0.4em;
    color:#0033CC;
    border:1px solid #CCCCCC;
    text-decoration:none;
}
div.navigation_list span.navigation_title{
    font-weight:bold;
}
a.navigation_normal_link:hover{
    background-color:#E6E6FA;
    border:1px solid #CC0000;
    color:#CC0000;
}
span.navigation_active_link{
    font-weight:bold;
    padding:0.2em;
    border:1px solid #9999CC;
}

/* Кнопка в системе админского интерфейса */
.button{
    margin-bottom:15px;
}

/* Системные уведомления */
div.notification_normal,
div.notification_alert,
div.notification_warning {
    padding:10px 5px 5px 70px;
    margin-bottom:10px;
    -moz-border-radius:5px;
}

/* Системное уведомление нормального типа */
div.notification_normal{
    border:1px solid green;
    background:url('/http/image/system/icon/notification_ok.gif') 20px 50% no-repeat;
}
/* Системное уведомление ошибочного типа */
div.notification_alert{
    border:0.1em solid #CC0000;
    background:url('/http/image/system/icon/notification_error.gif') 20px 50% no-repeat;
}
/* Системное уведомление предупреждающего типа */
div.notification_warning{
    border:0.1em solid #FF6600;
    background:url('/http/image/system/icon/notification_warning.gif') 20px 50% no-repeat;
}

div.notification_normal h3,
div.notification_alert h3,
div.notification_warning h3,
div#center_block h3{
    margin:0 0 5px 0;
    padding:4px;
    background-color:#F5F5F5;
    font-size:120%;
    -moz-border-radius:5px;
}
div.notification_normal h3{
    color:green;
}
div.notification_alert h3{
    color:#CC0000;
}
div.notification_warning h3{
    color:#FF6600;
}
div.notification_normal p,
div.notification_alert p{
    padding:5px;
}

/*  Это текст ошибок (ul-list)  
div.notification_alert ul{
    margin: 0 0 0 35px;
}*/

/* Цвет обязательных полей */
.compulsory{
    color:#336699;
    padding:0 0 5px 0;
}

/* Вертикальная горизонтальная черта */
.vhr{
    color:#9999CC;
}

/* Ошибка заполнения поля формы формы (выводится около текстового поля) */
.fieldErrorMessage{
    color:#E15D52;
    font-size:95%;
    font-weight:bold;
    margin:2px 0 0 0;
    padding:2px 0 1px 19px;
    background:url(/http/image/desing/icon/exclamation.png) no-repeat left;
}
.fieldErrorMessage br.clear{
    clear:both;
    line-height:0;
    height:0;
}


/* Ячейка с управляющими элементами загруженных изображений */
div.uploadFiles{
    max-height:285px;
    overflow:scroll;
    margin-bottom:10px;
}
/* Блок с элементами форм управления загрузками */
div.uploadButtons{
    
}
div.uploadButtons p{
    border:1px solid #CCC;
    margin:7px 0 7px 0;
    padding:5px;
    background-color:#CCC;
}

/* Блок с элементами управления фото в админке */
.imageBlock{
    padding:5px;
    background-color:#F6F5E2;
    border:1px solid #ccc;
    margin:0 0 5px 0;
    width:auto;
}
.imageBlock img{
    float:right;
    margin:5px;
}
/* Класс ссылки добавления нового элемента */
.add_element{
    padding-left:20px;
    background:url(/http/image/system/icon/add.png) no-repeat left;
}
/* Класс ссылки удаления элемента/ов */
.delete_element{
    padding-left:20px;
    background:url(/http/image/system/icon/delete.png) no-repeat left;
}