input.textSmall {
	width: 13em;
}

input.textLarge {
	width: 99%;
}

textarea.small {
	width: 99%;
	height: 5em;
}

textarea.medium {
	width: 99%;
	height: 10em;
}

textarea.large {
	width: 99%;
	height: 20em;
}

/* Перечень fieldset в режиме редактирования групп */
fieldset.actions {
	border: 1px solid #9999CC;
	margin: 0 0 10px 0;
}

legend.action_list {
	padding: 5px 5px 0 5px;
}

div.operationsList {
	padding: 5px 5px 0 5px;
}

div.operationsList div {
	padding-bottom: 5px;
}