@import url("classes.css");

@import url("tags.css");

@import url("forms.css");

@import url("tables.css");

/* Страница авторизации в админ */ /* Блок по центру */
div#center_block {
	position: absolute;
	left: 25%;
	right: 25%;
	width: 50%;
	top: 25%;
	padding: 2%;
	border: 1px solid #666666;
	-moz-border-radius: 0.5em;
	background-color: #FFFFFF;
}

div.changeCookieDays {
	font-size: 90%;
	display: none;
}

div.changeCookieDays a,div.changeCookieDays a:link {
	border: 1px solid #CCC;
	padding: 3px;
	text-decoration: none;
}

div.changeCookieDays a:hover {
	background-color: #E6E6FA;
}

div#center_block table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
}

div#center_block table td {
	padding: 5px 0 5px 0;
}

div#center_block table td input.text {
	width: 70%;
}