/* Стандартная таблица админ-интерфейса */
.aTable {
	border-collapse: collapse;
	background-color: #f5f5f5;
	border: 1px solid #9999CC;
	width: 100%;
	margin-bottom: 15px;
}

.aTable tr[class~="color_hover"]:hover {
	background-color: #E6E6FA;
	color: green;
}

.aTable td {
	border: 1px solid #CCCCFF;
	padding: 5px;
}

/* Текстовое поле содержащееся непосредственно в списке элементов */
.aTable td input.inside {
	width: 99%;
}

.aTable th {
	background-color: #E6E6FA;
	border: 1px solid #9999CC;
	padding: 0.4em;
	text-align: center;
}

/* Заголовок стандартной таблицы админ-интерфейса */
.aTable th h4 {
	color: #003366;
	font-size: 120%;
	font-family: Tahoma, Helvetica, Arial, Verdana, sans-serif;
}

/* Изображение-иконка */
.aTable td a img {
	border: 0;
}

table.aTable  tr td .lighttext {
	color: #999;
}

/* Заголовки для каждой колонки */
.aTable tr.head_params {
	font-weight: bold;
	text-align: center;
}

/* Ячейки с иконками - спорно, нужно ли это */
.aTable tr td.td_actions {
	text-align: center;
}

.aTable tr td.td_actions a {
	display: block;
}

/* Таблица меню */
.mTable tr td.menu {
	font-size: 90%;
	padding: 0;
}

.mTable tr td.menu a {
	display: block;
	padding: 0.4em;
	color: #0033CC;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	margin: 1px;
}

.mTable tr td.menu a:hover {
	background-color: #E6E6FA;
	border: 1px solid #CC0000;
	color: #CC0000;
}