*{
    padding: 0;
    margin: 0;
}

html, body{
    height:100%;
    width:100%;
    background-color: #ffffff;
}

body{
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size:13px;
    color:#000000;
}

header, hgroup, nav, section, article, aside, footer {
    display:block;
}

h1, h2, h3, h4, h5, h6{
    background-color:#f0f0f0;
    margin:0 0 20px 0;
    padding:3px 3px 3px 10px;
    color:#113B63;
    font-weight:normal;
}

h2{
    padding:10px;
   /*
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   border-radius: 10px;*/
}

h3{
    padding:5px;
	font-size:17px;
    color:#994015;
   /*
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   border-radius: 10px;*/
}

p{
    margin: 5px 0 5px 0;
}

img{
    border:0;
}

a:link {text-decoration: underline; color:#0033CC;}
a:visited {text-decoration: underline; color:#0033CC;}
a:active {text-decoration: none; color:#CC0000;}
a:hover {text-decoration: none; color:#0033CC;}

fieldset{
    padding:1em;
    border:1px solid #CCC;
    margin-top:1em;
}

legend{
    font-weight:bold;
    border:1px solid #CCC;
    padding:0.3em;
    color:#113B63;
}

legend,
fieldset{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}

textarea{
    width:500px;
    height:250px;
    font-family:Verdana, Arial, sans-serif;
    font-size:100%;
}

input{
    font-family:Verdana, Arial, sans-serif;
    padding:3px;
}

input[type="text"],
input[type="password"],
select,
textarea{
    border:1px solid #7F9DB9;
}

input[type="submit"]{
	padding:3px 5px 3px 5px;
    border-style:outset;
    background-color:#CCCCCC;
    font-size:inherit
}
input[type="submit"]:active{
	border-style:inset;
    outline:0.3em solid #E6E6FA;
    -moz-outline-radius:0.4em;
    color:#CC0000;
}