# Кавычки и всё, что с ними связанно
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off

# Сессии
php_flag session.use_trans_sid Off
php_flag session.use_only_cookies Off
php_flag session.use_cookies On
php_value session.name PHPSESSID
php_value url_rewriter.tags 0
php_flag session.cookie_httponly On

# Разное
php_flag register_globals Off
php_flag short_open_tag On
php_value variables_order "EGPCS"
php_value gpc_order "GPC"
php_value default_mimetype "text/html"
php_value arg_separator.output "&amp;"
php_flag allow_call_time_pass_reference Off

# Загрузка (файлов)
php_value post_max_size 4M
php_value upload_max_filesize 3M
php_value max_file_uploads 3

# Ошибки
php_value log_errors On
php_value log_errors_max_len 5242880
php_value ignore_repeated_errors On
php_flag track_errors On
php_flag display_startup_errors On

AddDefaultCharset windows-1251
Options -Indexes

<IfModule mod_dir.c>
    DirectoryIndex index.php
</IfModule>

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteEngine On
Options +FollowSymlinks
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.adverts\.su$ [NC,OR]
RewriteCond %{HTTP_HOST} ^adverts\.su$ [NC]
RewriteRule ^(.*)$ http://www.adverts.ru/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(js|ico|gif|jpg|jpeg|png|css|cur|php|phtml|doc|xls|txt)$ [NC]
RewriteRule (.*) index.php?_path=/$1&%{QUERY_STRING} [L]

#AddType php5-script .php 
#AddHandler php5-script .php